@font-face {
    font-family: ntype82-headline;
    src: url("./Fonts/NType82-Headline.otf");
}

body {
    background-image: radial-gradient(circle, rgb(225, 245, 226) 0%,rgb(255, 255, 255) 100%);
}

.container {

    text-align: center;
    align-items: center;

    transform: translateY(auto);
    margin-top: 25%;
}

button {
    border-style: none;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: ntype82-headline;
    font-weight: 300;
    border-radius: 15px;
    margin-top: 35px;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all, 0.3s;

    outline-style: double;
    outline-color: rgba(255, 255, 255, 0);
    outline-width: 25px;
}

button:hover {
    background-color: rgb(24, 24, 24);
    color: rgb(238, 238, 238);
    transition: ease, 0.3s;
    outline-style: solid;
    outline-color: rgba(0, 0, 0, 0.575);
    outline-width: 8px;
    font-size: 35px;
}

h1 {
    font-size: 40px;
    font-family: ntype82-headline;
    font-weight: 300;
}